<div class="container-fluid">
    <div class="row no-gutters">
        <div class="visualization-heading col-12">
            <div class="heading-info">
                <h3 class="heading-title">Dashboard</h3>
            </div>
            <hr>
            <div class="col-12">
                <!--<div class="container">
                    <carousel [slides]="slides"></carousel>
                 </div>-->
                <h6 class="heading-title">How to use the Quotations Management System Portal?</h6>
                <div class="video">
                    <video controls #videoPlayer style="width: 100%;">
                        <source src="{{videoSource}}" type="video/mp4" />
                        Browser not supported
                    </video>
                </div>
            </div>
        </div>
    </div>    
</div>