<div class="container-fluid">
    <div class="row no-gutters">
        <div class="visualization-heading col-12">
            <div class="heading-info">
                <h2 class="heading-title">Dashboard</h2>
            </div>
            <hr>
            <div class="col-12">
                <h6 class="heading-title">How to use the Quotations Management System Portal?</h6>
                <div class="video">
                    <video controls #videoPlayer style="width: 100%;">
                        <source  type="video/mp4" />
                        Browser not supported
                    </video>
                </div>
            </div>
        </div>
    </div>    
</div>

<!--src="{{videoSource}}"-->